<nav>
    <% if(user) { %>
        <div class="navbar">
            <a href="/users/<%= user._id %>/games"><h1 id="nav-header">GameVault</h1></a>
            <div class="nav-links">
                <a class="authlink" href="/users/<%= user._id %>/games">My Games</a>
                <a class="authlink" href="/users">Explore our Community</a>
                <a class="authlink" href="/auth/sign-out">Sign Out</a>
            </div>
        </div>
        <% } else { %>
            <div class="navbar">
                <a href="/"><h1 id="nav-header">GameVault</h1></a>
                <div class="nav-links">
                    <a class="authlink" href="/auth/sign-in">Sign In</a>
                    <a class="authlink" href="/auth/sign-up">Sign Up</a>
                </div>
            </div>
            <% } %>
</nav>