@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #5c94fc;
  color: #fcfcfc;
  overflow-x: hidden;
}

.index-body {
  background-image: url("../imgs/NES\ -\ Super\ Mario\ Bros.\ -\ Stages\ -\ World\ 1-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vh;
  color: #fcfcfc;
  overflow-y: hidden;
}

.main-header {
  font-weight: bold;
  color: #fcfcfc;
  font-size: 3.5em;
  margin-left: 25%;
}

.subheader {
  margin-left: 27%;
  font-size: 1.4em;
}

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.auth-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  height: 100%;
}

.signup-link,
.signin-link {
  text-decoration: none;
  font-size: 1.5em;
  padding: 8px 0;
  border-radius: 25px;
  width: 5em;
  text-align: center;
}

.signup-link {
  background-color: #c84c0c;
  color: #190901;
  margin: 10px;
}

.signup-link:hover {
  background-color: #fc9838;
}

.signin-link {
  background-color: #00a800;
  color: #04070c;
}

.signin-link:hover {
  background-color: #80d010;
}

a{
  text-decoration: none;
}

.signin-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.signin-form,
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20em;
  height: 50%;
  background-color: #fc9838;
  padding: 30px 40px 20px 40px;
  border-radius: 20px;
  color: #2b1a0a;
  font-weight: bold;
  border: 5px solid #c2501a;
}

input {
  border: 1px solid #c2501a;
  padding: 8px;
  border-radius: 10px;
}

button {
  padding: 10px;
  background-color: #c2501a;
  color: #fcfcfc;
  border-radius: 30px;
  border: 1px solid #2b1a0a;
  margin: 15px 0;
  font-size: 1.1em;
}

button:hover {
  background-color: #ce7348;
  cursor: pointer;
}

.nav-links {
  margin-right: 15px;
}

.all-games-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-games-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 90%;
}

.add-game-link {
  padding: 10px;
  background-color: #fcfcfc;
  color: #04070c;
  border-radius: 30px;
  border: none;
  font-size: 1.1em;
  padding: 2px 25px;
  text-decoration: none;
}

.add-game-link:hover{
  background-color: gold;
}

.games-ul {
  list-style: none;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(252, 252, 252, 0.3);
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
}

.games-li {
  display: flex;
  flex-direction: column;
}

li > a {
  color: #fcfcfc;
  max-width: 220px;
  text-align: center;
  margin: 15px;
}

li > a:hover{
  color: gold;
}

img {
  object-fit: contain;
}